[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-huggingface = "*"
fastapi = "*"
huggingface-hub = "*"
streamlit = "*"
pypdf = "*"
faiss-cpu = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
